{% extends 'base.html' %}
{% block title %}Create Course{% endblock %}
{% block content %}
<div class="form-container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <label for="name">Course name:</label>
            <div>
                <input type="text" name="name" value="{% block course_name %}{% endblock %}">
            </div>
        </div>
        <div class="row">
            <label for="description">Description:</label>
            <div>
                <input type="text" name="description" value="{% block description %}{% endblock %}">
            </div>
        </div>
        <div class="row">
            <label for="start_date">Start date:</label>
            <div>
                <input type="text" name="start_date" value="{% block start_date %}{% endblock %}">
            </div>
        </div>
        <div class="row">
            <label for="end_date">End date:</label>
            <div>
                <input type="text" name="end_date" value="{% block end_date %}{% endblock %}">
            </div>
        </div>
        <div class="submit-btn">
            <input type="submit" value="{% block submit %}Create course{% endblock %}">
        </div>
    </form>
</div>
{% if course %}
<p class="duplicate-course">Course <strong>{{name}}</strong> already exists!</p>
{% endif %}
{% endblock %}
