<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/course_management/style.css">
    <title>{% block title %}Course Management System{% endblock %}</title>
</head>
<body>
    <div id="container">
        {% block content %}
            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td><a href="/course/{{course.name}}">{{course.name}}</a></td>
                        <td>{{course.description}}</td>
                        <td>{{course.start_date|date:"d.m.Y"}}</td>
                        <td>{{course.end_date|date:"d.m.Y"}}</td>
                        <td>{{course.start_date|timesince:course.end_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
</body>
</html>
